<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h2>Please login to the secret app</h2>
    <form action="/login" method="post">
        <input name="email" type="email" placeholder="email" value="sadiq@email.com">
        <input name="password" type="password" placeholder="password" value="123">
        <input type="submit" value="Login">
    </form>
    <% if (message != 'undefined') { %>
        <p><%= message %></p>
    <% } %>
    <br><br>
    <li><a href="/register">Register</a></li>
</body>
</html>