<h1>Sign up here</h1>
<form method="POST" action="/register">
    <input type="email" name="email" placeholder="Your email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Submit">
</form> 
<% if (typeof message != 'undefined') { %>
    <p><%= message %></p>
<% } %>
<br><br>
<li><a href="/login">Login</a></li>